/* Collapsible button styles */
.collapsible {
    background-color: #cd2355;
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: normal; /* Ensuring text is not bold */
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #9b1f3d; /* Darker hover effect */
}

.collapsible.active {
    background-color: #9b1f3d; /* Active state color */
}

/* Style for collapsible content */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #FAFAFA; /* Your desired background color */
    color: black;
    margin-top: 5px;
    border-left: 2px solid #cd2355;
    border-right: 2px solid #cd2355;
    border-bottom: 2px solid #cd2355;
}

/* This can be removed when all collapsables have been updated */
#myDIV {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: #DF4472;
	margin-top: 20px;
	color: white;
}
	
#button1 {
	background-color: #cd2355 !important; 
	color: white !important; 
	font-size: 20px !important; 
	padding: 14px 40px !important; 
	border-radius: 8px !important; 
	width: 100% !important;
	background-image: url("/static/bitmap.png");
	border: 2px solid #000000 !important; /* Added border property */
	
	/* Removed unwanted box shadow */
	box-shadow: none !important;
	
	/* Ensure font is not bold */
	font-weight: normal !important;
}


#lessonheading {
	font-size: 20; 
	font-family: Quicksand, sans-serif !important; /* Added "!important" */
	color: #cd2355; 
	font-weight: 900 !important; /* Added "!important" */
	text-align: center;
}
      
#text {
	font-size: 16; 
	font-family: Quicksand, sans-serif;
} 
      
#images {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

ul {
	text-align: left;
	color: white;
}

li {
	color: white;
}


#tables, #headers, #tablecontent {
	color: white; 
	border: 2px solid white; 
	border-collapse: collapse; 
}

.column {
  float: left;
  width: 20%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
    box-sizing: border-box;
}


/* Specific link styling for links inside #myDIV */
#myDIV a {
    color: #23CD9B !important;
}

#myDIV a:visited {
    color: #23CD9B !important;
}

#myDIV a:hover {
    color: #1BA883; /* Optional hover color */
}

#myDIV a:active {
    color: #1BA883; /* Optional active color */
}
