/* Lesson Heading */
.lesson-title {
    font-size: 24px;
    color: #CD2355;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

/* General Paragraph Text */
.text {
    font-size: 16px;
    color: #222222;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Notes Block */
.notes {
    background-color: #E7F8F7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.notes h2 {
    color: #0D7C71;
    font-size: 24px;
    font-weight: 700;
}

.notes p {
    color: #222222;
    font-size: 16px;
    line-height: 1.6;
}

/* Task Block */
.task {
    background-color: #F4EEF7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.task h2 {
    color: #6B3687;
    font-size: 24px;
    font-weight: 700;
}

.task p {
    color: #222222;
    font-size: 16px;
    line-height: 1.6;
}

/* Teach Block */
.teach {
    background-color: #FCF3F6;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.teach h2 {
    color: #CD2355;
    font-size: 24px;
    font-weight: 700;
}

.teach p {
    color: #222222;
    font-size: 16px;
    line-height: 1.6;
}

/* Collapsible Button */
details summary {
    background-color: #232D9A;
    color: white;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 8px;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

details[open] summary {
    background-color: #232E9B;
}

details summary:hover {
    background-color: #232E9B;
}

/* Collapsible Content */
details .content {
    background-color: #E7F8F7;
    padding: 10px;
    border-left: 5px solid #CD2355;
    margin-top: 5px;
    border-radius: 8px;
    color: #222222;
}

/* General Video Block Container */
.xblock.xmodule_VideoBlock {
    background-color: #F4EEF7; /* Light background for the video container */
    padding: 20px;
    border-radius: 8px;
}

/* General Video Block Title */
.xblock.xmodule_VideoBlock .hd-2 {
    color: #CD2355; /* Title color */
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

/* General Transcript Container */
.subtitles {
    background-color: #FCF3F6; /* Light pink background */
    padding: 15px;
    color: #222222; /* Text color */
    border-radius: 8px;
    border-left: 5px solid #CD2355; /* Accent border */
}

/* Transcript text */
.subtitles ol.subtitles-menu span {
    color: #222222; /* Text color */
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6; /* Readability */
}

/* Transcript Heading */
.subtitles h3 {
    color: #CD2355;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

/* Transcript Links (for skip to start/end) */
.subtitles a {
    color: #232e9b; /* Link color */
    text-decoration: underline;
}

.subtitles a:hover {
    color: #c51d4a; /* Hover color */
}

/* Image Centering */
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

/* Custom Link Styling */
a {
    color: #C51D4A;
    text-decoration: none;
}

a:hover, a:active {
    color: #232E9B;
}

/* Table Styling */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th, 
.table td {
    border: 2px solid #222222;
    padding: 10px;
    text-align: left;
}
